<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        {{'SEARCH' | translate }}
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        {{'SORT_BY' | translate }}
        <select ng-model="$ctrl.orderProp">
          <option value="name">{{'ALPHABETICAL' | translate }}</option>
          <option value="age">{{'NEWEST' | translate }}</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp"
          class="thumbnail phone-list-item">
          <a href="{{$ctrl.getDetailUrl(phone)}}" class="thumb">
            <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
          </a>
          <a href="{{$ctrl.getDetailUrl(phone)}}">{{phone.name}}</a>
          <!-- <p>{{phone.snippet}}</p> -->
          <p>{{$root.lang, select,
                vi {{{phone.snippet_vi}}}
                other {{{phone.snippet}}}
              }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<phone-history/> 